@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --clr-primary-400: hsl(215, 51%, 70%);
    --clr-primary-700: hsl(178, 100%, 50%);
    
    --clr-neutral-700: hsl(217, 54%, 11%); //main BG
    --clr-neutral-400: hsl(216, 50%, 16%); //card BG
    --clr-neutral-100: hsl(215, 32%, 27%); //line 

    --ff-primary: 'Outfit',sans-sarif;

    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
    
}